'.source.json':
  '.babelrc':
    'prefix': 'brc-webpack'
    'body': '''
    {
      "presets": ["latest"],
      "plugins": ["transform-runtime"]
    }
    '''

  '.babelrc':
    'prefix': 'brc-rollup'
    'body': '''
    {
      "presets": [[
        "latest",
        {"es2015": {"modules": false}}
      ]],
      "plugins": ["external-helpers"]
    }
    '''
