'.source.yaml':
  'Chart.yaml':
    'prefix': 'chart'
    'body': '''
    name: $1
    version: 0.1.0
    description: $1 Helm Chart for Kubernetes
    keywords:
    - $1
    sources:
    - ${2:https://git.interactive-fx.com/sanselme/$1}
    maintainers:
    - name: ${3:Schubert Anselme}
      email: ${4:sanselme@icloud.com}
    '''

  'values.yaml':
    'prefix': '''values'''
    'body': '''
    Namespace: ${1:default}
    Replicas: ${2:1}
    FQDN: $3

    Image:
      PullPolicy: ${4:IfNotPresent}
      Repository: $5
      Tag: "${6:latest}"

    Storage:
      Enabled: true
      Class: generic
      AccessMode: ReadWriteOnce
      Size: 100Mi

    Ingress:
      EnableLetsencrypt: ${7:false}
      # Class: "${8:nginx}"

    TLS:
      CA: |
        $9
      Cert: |
        $10
      Key: |
        $11
    '''

  'requirements.yaml':
    'prefix': 'requirements'
    'body': '''
    dependencies:
    - name: $1
      version: $2
      repository: $3
    '''

  'Chart Dependency':
    'prefix': 'dependency'
    'body': '''
    - name: $1
      version: $2
      repository: $3
    '''

  'Chart Namespace':
    'prefix': 'namespace'
    'body': '''
    {{- if default "" .Values.Namespace }}
    namespace: {{ .Values.Namespace }}
    {{- end }}
    '''

  'Chart Metadata':
    'prefix': 'metadata'
    'body': '''
    metadata:
      {{- if default "" .Values.Namespace }}
      namespace: {{ .Values.Namespace }}
      {{- end }}
      name: {{ template "Fullname" . }}-$1
    '''

  'Chart Labels':
    'prefix': 'labels'
    'body': '''
    labels:
      app: {{ template "Fullname" . }}
      chart: {{ printf "%s-%s" .Chart.Name .Chart.Version }}
      release: {{ .Release.Name }}
      heritage: {{ .Release.Service }}
    '''

  'Chart Annotations':
    'prefix': 'annotations'
    'body': '''
    annotations:
      helm.sh/created: {{ .Release.Time.Seconds | quote }}
    '''

  'Chart Checksum Annotation':
    'prefix': 'checksum'
    'body': '''checksum/config: {{ include (print $.Chart.Name "/templates/${1:config}.yaml") . | sha256sum }}'''

  'Chart Image':
    'prefix': 'image'
    'body': '''{{ printf "%s:%s" .Values.Image.Repository .Values.Image.Tag }}'''

  'Chart Images':
    'prefix': 'images'
    'body': '''{{ printf "%s:%s" .Values.Image.$1.Repository .Values.Image.$1.Tag }}'''

  'Chart Secret':
    'prefix': 'secret'
    'body': '''
    ${1:key}: {{ .Values.${2:Value} | b64enc | quote }}
    '''

  'Chart Fullname':
    'prefix': 'fullname'
    'body': '''{{ template "Fullname" . }}-$1'''

  'Formated Print':
    'prefix': 'printf'
    'body': '''{{ printf "$1" $2 }}'''

  'To YAML':
    'prefix': 'to_yaml'
    'body': '''{{ toYaml .Values.$1 | indent $2 }}'''

  'Include Labels':
    'prefix': 'include_labels'
    'body': '''{{ include "Labels" . | indent $1 }}'''

  'Include Annotations':
    'prefix': 'include_annotations'
    'body': '''{{ include "Annotations" . | indent $1 }}'''

'.text.html':
  '_helpers.tpl':
    'prefix': 'helpers'
    'body': '''
    {{/* vim: set filetype=mustache: */}}

    {{/*
    Expand the name of the chart.
    */}}
    {{- define "Name" -}}
    {{- default .Chart.Name .Values.nameOverride | trunc 24 -}}
    {{- end -}}

    {{/*
    Create a default fully qualified app name.
    We truncate at 24 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
    */}}
    {{- define "Fullname" -}}
    {{- $Name := default .Chart.Name .Values.nameOverride -}}
    {{- printf "%s-%s" .Release.Name $Name | trunc 24 -}}
    {{- end -}}

    {{- define "Labels" -}}
    app: {{ template "Fullname" . }}
    chart: {{ printf "%s-%s" .Chart.Name .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- end -}}

    {{- define "Annotations" -}}
    helm.sh/created: {{ .Release.Time.Seconds | quote }}
    {{- end -}}
    '''

'.text.plain':
  'NOTES.txt':
    'prefix': 'notes'
    'body': '''
    # Usage

    use https://{{ .Values.$1 }} to access $2
    '''
