'.source.yaml':
  'ConfigMap':
    'prefix': 'configmap'
    'body': '''
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: $2
    data:
      $3: $4
    '''

  'Helm Chart ConfigMap':
    'prefix': 'hc-configmap'
    'body': '''
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
    data:
      $1: $2
    '''
