'.source.yaml':
  'DaemonSet':
    'prefix': 'ds'
    'body': '''
    apiVersion: extensions/v1beta1
    kind: DaemonSet
    metadata:
      name: $1
    spec:
      template:
        metadata:
          labels:
            app: $2
        spec:
          containers:
          - name: $1
            image: $3:${4:latest}
            imagePullPolicy: ${5:IfNotPresent}
            resources:
              requests:
                memory: ${6:128Mi}
                cpu: ${7:100m}
            # livenessProbe:
            #   initialDelaySeconds: ${8:30}
            #   timeoutSeconds: ${9:10}
            # readinessProbe:
            #   initialDelaySeconds: ${9:10}
            #   timeoutSeconds: ${10:5}
            ports:
            - containerPort: $11
    '''

  'Helm Chart DaemonSet':
    'prefix': 'hc-ds'
    'body': '''
    apiVersion: extensions/v1beta1
    kind: DaemonSet
    metadata:
      name: {{ template "fullname" . }}
    spec:
      template:
        metadata:
          labels:
    {{ include "labels" . | indent 8 }}
          annotations:
    {{ include "annotations" . | indent 8 }}
        spec:
          containers:
          - name: {{ .Chart.Name }}
            image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag }}
            imagePullPolicy: {{ default "IfNotPresent" .Values.image.pullPolicy }}
            resources:
    {{ toYaml .Values.resources | trim | indent 10 }}
            # livenessProbe:
            #   initialDelaySeconds: ${1:30}
            #   timeoutSeconds: ${2:10}
            # readinessProbe:
            #   initialDelaySeconds: ${2:10}
            #   timeoutSeconds: ${3:5}
            ports:
            - containerPort: $4
    '''
