'.source.yaml':
  'Deployment':
    'prefix': 'deploy'
    'body': '''
    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: $1
    spec:
      replicas: ${2:1}
      template:
        metadata:
          labels:
            app: $3
        spec:
          containers:
          - name: $1
            image: $4:${5:latest}
            imagePullPolicy: ${6:IfNotPresent}
            resources:
              requests:
                memory: ${7:128Mi}
                cpu: ${8:100m}
            # livenessProbe:
            #   initialDelaySeconds: ${9:30}
            #   timeoutSeconds: ${10:10}
            # readinessProbe:
            #   initialDelaySeconds: ${10:10}
            #   timeoutSeconds: ${11:5}
            ports:
            - containerPort: $12
    '''

  'Helm Chart Deployment':
    'prefix': 'hc-deploy'
    'body': '''
    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: {{ template "fullname" . }}
    spec:
      replicas: {{ default 1 .Values.replicas }}
      template:
        metadata:
          labels:
    {{ include "labels" . | indent 8 }}
          annotations:
    {{ include "annotations" . | indent 8 }}
        spec:
          containers:
          - name: {{ .Chart.Name }}
            image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag }}
            imagePullPolicy: {{ default "IfNotPresent" .Values.image.pullPolicy }}
            resources:
    {{ toYaml .Values.resources | trim | indent 10 }}
            # livenessProbe:
            #   initialDelaySeconds: ${1:30}
            #   timeoutSeconds: ${2:10}
            # readinessProbe:
            #   initialDelaySeconds: ${2:10}
            #   timeoutSeconds: ${3:5}
            ports:
            - containerPort: $4
    '''
