'.source.json':
  '.eslintrc.json':
    'prefix': 'eslintrc'
    'body': '''
    {
        "env": {
            "browser": true,
            "commonjs": true,
            "es6": true
        },
        "globals": {
          "ENV": true,
          "Vue": true
        },
        "extends": "eslint:recommended",
        "parserOptions": {
            "sourceType": "module"
        },
        "rules": {
            "indent": [
                "error",
                2
            ],
            "linebreak-style": [
                "error",
                "unix"
            ],
            "quotes": [
                "error",
                "double"
            ],
            "semi": [
                "error",
                "always"
            ]
        }
    }
    '''
