'.source.yaml':
  'Ingress':
    'prefix': 'ingress'
    'body': '''
    apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:
      name: $1
    spec:
      tls:
      - secretName: $2
        hosts:
        - $3
      rules:
      - host: $3
        http:
          paths:
          - backend:
              serviceName: $4
              servicePort: $5
    '''

  'Helm Chart Ingress':
    'prefix': 'hc-ingress'
    'body': '''
    apiVersion: extensions/v1beta1
    kind: Ingress
    metadata:
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
        {{- if .Values.ingress.acme }}
        kubernetes.io/tls-acme: "true"
        {{- end }}
        kubernetes.io/ingress.class: {{ default "nginx" .Values.ingress.class }}
        checksum/config: {{ include (print $.Chart.Name "/templates/tls-secret.yaml") . | sha256sum }}
    spec:
      tls:
      - secretName: {{ printf "%s-%s" (template "fullname" .) "tls" }}
        hosts:
        - {{ .Values.fqdn }}
      rules:
      - host: {{ .Values.fqdn }}
        http:
          paths:
          - backend:
              serviceName: {{ template "fullname" . }}
              servicePort: $1
    '''
