'.source.makefile':
  'NPM Makefile':
    'prefix': 'npmake'
    'body': '''
    PATH := ${PWD}/node_modules/.bin:${PATH}
    SHELL := /bin/bash

    SRCDIR := ${PWD}/src
    DISTDIR := ${PWD}/dist

    .PHONY: all build test copy clean

    all: clean build copy

    build: fetch
    	@echo --- Build scripts directory: ${DISTDIR}
    	@echo --- Checking npm version
    	npm --version
    	@echo --- Checking git revision and branch
    	- git rev-parse HEAD
    	- git rev-parse --abbrev-ref HEAD
    	npm run build

    test: fetch
    	@echo --- Invoking npm test
    	npm test

    copy:
    	@echo --- Copying files from ${SRCDIR} to ${DISTDIR}
    	- cp -f ${PWD}/index.html ${DISTDIR}/
    	- cp -f ${PWD}/favicon.* ${DISTDIR}/

    fetch:
    	@echo --- Fetching dependencies
    	npm install

    clean:
    	@echo --- Removing files in ${DISTDIR}
    	- rm -rf ${DISTDIR}/*
    '''
