'.source.makefile':
  'Go Makefile':
    'prefix': 'gomake'
    'body': '''
    export GOPATH := ${PWD}
    export GOBIN := ${GOPATH}/bin

    .PHONY: build test refetch clean

    all: build
    refetch: clean fetch

    build: custombuild
    	@echo --- Running build
    	@echo --- GOPATH: ${GOPATH}
    	@echo --- GOBIN: ${GOBIN}
    	@echo --- Checking go version
    	go version
    	@echo Checking git revision and branch
    	- git rev-parse HEAD
    	- git rev-parse --abbrev-ref HEAD
    	GOPATH=${GOPATH} go build app;
    	- rm -rf ${PWD}/app

    test:
    	@echo --- Invoking go test
    	GOPATH=${GOPATH} go test

    fetch:
    	@echo --- Fetching dependencies
    	GOPATH=${GOPATH} go get app

    clean:
    	@echo --- Invoking go clean
    	GOPATH=${GOPATH} go clean
    	@echo --- Removing bin content
    	- rm -rf bin
    	@echo --- Removing pkg directory
    	- rm -rf pkg

    custombuild: # do nothing - for the calling build to override
    '''
