'.source.json':
  'template.json':
    'prefix': 'pkr-docker'
    'body': '''
    {
      "variables": {
        "ansible_host": "${1:image}",
        "ansible_connection": "docker"
      },
      "builders": [
        {
          "type": "docker",
          "image": "${2:phusion/baseimage:latest}",
          "commit": "true",
          "changes": [
            "ENV DEBIAN_FRONTEND noninteractive",
            "CMD /sbin/my_init"
          ],
          "run_command": [
            "-d",
            "-i",
            "-t",
            "--name",
            "{{ user `ansible_host` }}",
            "{{ .Image }}",
            "/bin/bash"
          ]
        }
      ],
      "provisioners": [
        {
          "type": "shell",
          "inline": [
            "apt update",
            "apt install -yq python"
          ]
        },
        {
          "type": "ansible",
          "user": "root",
          "playbook_file": "playbook.yaml",
          "extra_arguments": [
            "--extra-vars",
            "ansible_host={{ user `ansible_host` }} ansible_connection={{ user `ansible_connection` }}"
          ]
        },
        {
          "type": "shell",
          "inline": [
            "apt clean",
            "rm -rf /var/lib/apt/lists/* /var/tmp/* /tmp/*"
          ]
        }
      ],
      "post-processors": [
        [
          {
            "type": "docker-tag",
            "repository": "sanselme/${1:image}",
            "tag": "${3:0.1.0}"
          }
        ]
      ]
    }
    '''

'.source.shell':
  'setup.sh':
    'prefix': 'pkr-setup'
    'body': '''
    #!/bin/sh
    set -e

    # rerun setup
    [ -n "$RUN_SETUP" ] && rm -f /var/lib/.setup

    # check if already setup
    [ -f /var/lib/.setup ] && exit 0

    $1

    # mark as setup & run
    touch /var/lib/.setup && $2
    '''

  '.source.shell':
    'run.sh':
      'prefix': 'prk-run'
      'body': '''
      #!/bin/sh
      [ -f /var/lib/.setup ] $1
      '''
