'.source.yaml':
  'PersistentVolumeClaim':
    'prefix': 'pvc'
    'body': '''
    apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: $1
      annotations:
        volume.beta.kubernetes.io/storage-class: nfs
    spec:
      accessModes:
      - $2
      resources:
        requests:
          storage: $3
    '''

  'Helm Chart PersistentVolumeClaim':
    'prefix': 'hc-pvc'
    'body': '''
    apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
        volume.beta.kubernetes.io/storage-class: {{ default "nfs" .Values.storage.class }}
    spec:
      accessModes:
      - {{ .Values.storage.mode }}
      resources:
        requests:
          storage: {{ .Values.storage.size | quote }}
    '''
