'*':
  'Readme':
    'prefix': 'readme'
    'body': '''
    # ${4:Readme}

    ${5:TODO}

    ---

    The MIT License (MIT)

    Copyright (c) ${1:2016} ${2:Schubert Anselme}

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
    '''

  'Chart Readme':
    'prefix': 'readme_chart'
    'body': '''
    # ${3:Chart Title}

    ${4:chart-name} Helm Chart for Kubernetes

    ## TL;DR

    ```bash
    $ helm install ${4:chart-name}
    ```

    ## Prerequesites

    - Kubernetes 1.4+ with Beta APIs enabled
    - PV provisioner support in the underlying infrastructure (Only when persisting data)

    ## Installing the Chart

    To install the chart with the release name `my-release`:

    ```bash
    $ helm install --name my-release ${4:chart-name}
    ```

    The command deploys ${4:chart-name} on the Kubernetes cluster in the kube-system configuration. The [configuration](#configuration) section lists the paramerts that can be configured during installation.

    > **Tip**: List all releases using `helm list`

    ## Uninstalling the Chart

    To uninstall/delete the `my-release` deployment:

    ```bash
    $ helm delete my-release
    ```

    The command removes all the Kubernetes components associated with the chart and delete the release.

    ## Configuration

    The following tables list the configurable parameters of the ${4:chart-name} chart and their default values.

    Parameter                   | Description                         | Default
    --------------------------- | ----------------------------------- | ---------------
    `namespace`                 | `namespace` of deployment           | `default`
    `replicas`                  | Number of replicas                  | `1`
    `fqdn`                      | `fqdn` for `ingress`                |
    `image.pullPolicy`          | Image pull policy                   | `IfNotPresent`
    `image.repository`          | `${4:chart-name}` image repository  |
    `image.tag`                 | `${4:chart-name}` image tag         | `"latest"`
    `storage.enabled`           | Enable `pvc` otherwise              | `false`
    `storage.class`             | Class of `pvc` storage              | `generic`
    `storage.accessMode`        | Access mode for `pvc`               | `ReadWriteOnce`
    `storage.size`              | Size of `pvc`                       | `100Mi`
    `ingress.enableLetsencrypt` | Enable `letsencrypt` tls generation | `false`
    `ingress.class`             | `class` of `ingress-controller`     | `"nginx"`

    Specify each parameter using the `--set key=value[,key=value]` argument to `helm install`. For example:

    ```bash
    $ helm install --name my-release --set namespace=default,replicas=1 ${4:chart-name}
    ```

    Alternatyvely, a YAML file that specifies the values for the parameters can be provided while installing the chart. For example:

    ```bash
    $ helm install --name my-release -f values.yaml ${4:chart-name}
    ```

    > **Tip**: You can use the default [values](values.yaml)

    --------------------------------------------------------------------------------

    The MIT License (MIT)

    Copyright (c) ${1:2017} ${2:Schubert Anselme}

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
    '''
