'.source.yaml':
  'Secret':
    'prefix': 'secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    metadata:
      namespace: ${1:default}
      name: $2
    data:
      $3: $4
    '''

  'TLS Secret':
    'prefix': 'tls-secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    type: kubernetes.io/tls
    metadata:
      namespace: ${1:default}
      name: $2
    data:
      ca.crt: $3
      tls.crt: $4
      tls.key: $5
    '''

  'Helm Chart Secret':
    'prefix': 'hc-secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    metadata:
      {{- if default "" .Values.namespace }}
      namespace: {{ .Values.namespace }}
      {{- end }}
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
    data:
      $1: {{ .Values.$2 | b64enc | quote }}
    '''

  'Helm Chart TLS Secret':
    'prefix': 'hc-tls-secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    metadata:
      {{- if default "" .Values.namespace }}
      namespace: {{ .Values.namespace }}
      {{- end }}
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
    data:
      ca.crt: {{ .Values.$1 | b64enc | quote }}
      tls.crt: {{ .Values.$2 | b64enc | quote }}
      tls.key: {{ .Values.$3 | b64enc | quote }}
    '''
