'.source.yaml':
  'Secret':
    'prefix': 'secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    metadata:
      name: $1
    data:
      $2: $3
    '''

  'TLS Secret':
    'prefix': 'tls-secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    type: kubernetes.io/tls
    metadata:
      name: $1
    data:
      ca.crt: $2
      tls.crt: $3
      tls.key: $4
    '''

  'Helm Chart Secret':
    'prefix': 'hc-secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    metadata:
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
    data:
      $1: {{ .Values.$2 | b64enc | quote }}
    '''

  'Helm Chart TLS Secret':
    'prefix': 'hc-tls-secret'
    'body': '''
    apiVersion: v1
    kind: Secret
    metadata:
      name: {{ template "fullname" . }}-tls
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
    data:
      ca.crt: {{ .Values.$1 | b64enc | quote }}
      tls.crt: {{ .Values.$2 | b64enc | quote }}
      tls.key: {{ .Values.$3 | b64enc | quote }}
    '''
