'.source.yaml':
  'Service':
    'prefix': 'svc'
    'body': '''
    apiVersion: v1
    kind: Service
    metadata:
      name: $1
    spec:
      selector:
        app: $2
      ports:
      - name: $3
        port: $4
    '''

  'Headless Service':
    'prefix': 'svc-headless'
    'body': '''
    apiVersion: v1
    kind: Service
    metadata:
      name: $1
    spec:
      clusterIP: None
      selector:
        app: $2
      ports:
      - name: $3
        port: $4
    '''

  'Helm Chart Service':
    'prefix': 'hc-svc'
    'body': '''
    apiVersion: v1
    kind: Service
    metadata:
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
    spec:
      selector:
        app: {{ template "fullname" . }}
      ports:
      - name: $1
        port: $2
    '''

  'Helm Chart Headless Service':
    'prefix': 'hc-svc-headless'
    'body': '''
    apiVersion: v1
    kind: Service
    metadata:
      name: {{ template "fullname" . }}
      labels:
    {{ include "labels" . | indent 4 }}
      annotations:
    {{ include "annotations" . | indent 4 }}
    spec:
      clusterIP: None
      selector:
        app: {{ template "fullname" . }}
      ports:
      - name: $1
        port: $2
    '''
