'.source.swift':
  'Package.swift (3.0)':
    'prefix': 'spm-3'
    'body': '''
    // swift-tools-version:3.0
    import PackageDescription

    let urls: [String] = [$3]

    let targets: [[String: Any]] = [
      ["name": "$1"]$2
    ]

    let package = Package(
        name: "$1",
        targets: targets.flatMap { target in
          guard let name = target["name"] else { return Target(name: "") }
          guard let dependencies = target["dependencies"] else { return Target(name: name as! String) }

          return Target(name: name as! String, dependencies: (dependencies as! [String]).map { Target.Dependency(stringLiteral: \\$0) })
        },
        dependencies: urls.map { .Package(url: \\$0, versions: Version(.min, .min, .min) ..< Version(.max, .max, .max)) }
    )
    '''
  'Package.swift (4.0)':
    'prefix': 'spm-4'
    'body': '''
    // swift-tools-version:4.0
    import PackageDescription

    let urls: [String] = [$3]

    let targets: [[String: Any]] = [
      ["name": "$1"]$2
    ]

    let package = Package(
        name: "$1",
        dependencies: urls.map { .package(url: \\$0, from: "1.0.0") },
        targets: targets.flatMap { target in
          guard let name = target["name"] else { return .target(name: "") }
          guard let dependencies = target["dependencies"] else { return .target(name: name as! String) }

          return .target(name: name as! String, dependencies: (dependencies as! [String]).map { Target.Dependency(stringLiteral: \\$0) })
        }
    )
    '''
