'.source.yaml':
  'StatefulSet':
    'prefix': 'statefulset'
    'body': '''
    apiVersion: apps/v1beta1
    kind: StatefulSet
    metadata:
      name: $1
    spec:
      replicas: ${2:1}
      serviceName: $3
      volumeClaimTemplates:
      - metadata:
          name: $1
          annotations:
            volume.alpha.kubernetes.io/storage-class: ${4:generic}
        spec:
          accessModes:
          - ${5:ReadWriteOnce}
          resources:
            requests:
              storage: ${6:100Mi}
      template:
        metadata:
          labels:
            app: $7
        spec:
          terminationGracePeriodSeconds: ${8:0}
          containers:
          - name: $1
            image: $9:${10:latest}
            imagePullPolicy: ${11:IfNotPresent}
            # livenessProbe:
            #   initialDelaySeconds: ${12:30}
            #   timeoutSeconds: ${13:10}
            # readinessProbe:
            #   initialDelaySeconds: ${13:10}
            #   timeoutSeconds: ${14:5}
            resources:
              requests:
                memory: ${15:128Mi}
                cpu: ${16:100m}
            ports:
            - containerPort: $17
            volumeMounts:
            - name: $1
              mountPath: $18
    '''

  'Helm Chart StatefulSet':
    'prefix': 'hc-statefulset'
    'body': '''
    apiVersion: apps/v1beta1
    kind: StatefulSet
    metadata:
      name: {{ template "fullname" . }}
    spec:
      replicas: {{ default 1 .Values.replicas }}
      serviceName: {{ template "fullname" . }}
      volumeClaimTemplates:
      - metadata:
          name: {{ template "fullname" . }}
          annotations:
            volume.alpha.kubernetes.io/storage-class: {{ default "generic" .Values.storage.class | quote }}
        spec:
          accessModes:
          - {{ .Values.storage.mode }}
          resources:
            requests:
              storage: {{ .Values.storage.size }}
      template:
        metadata:
          labels:
    {{ include "labels" . | indent 8 }}
          annotations:
    {{ include "annotations" . | indent 8 }}
        spec:
          terminationGracePeriodSeconds: ${1:0}
          containers:
          - name: {{ .Chart.Name }}
            image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag }}
            imagePullPolicy: {{ default "IfNotPresent" .Values.image.pullPolicy }}
            # livenessProbe:
            #   initialDelaySeconds: ${2:30}
            #   timeoutSeconds: ${3:10}
            # readinessProbe:
            #   initialDelaySeconds: ${3:10}
            #   timeoutSeconds: ${4:5}
            resources:
    {{ toYaml .Values.resources | trim | indent 10 }}
            ports:
            - containerPort: $5
            volumeMounts:
            - name: {{ template "fullname" . }}
              mountPath: $6
    '''
