'.source.terraform':
  
  'Terraform - Packet':
    'prefix': 'tf-packet'
    'body': '''
    provider "packet" {
      auth_token = "${1:PACKET_AUTH_TOKEN}"
    }

    resource "packet_ssh_key" "${2:key}" {
      name = "${2:key}"
      public_key = "${3:\\$\\{file("~/.ssh/id_rsa.pub"\\)\\}}"
    }

    resource "packet_project" "${4:project}" {
      name = "${4:project}"
      # payment_method = "${5:PAYMENT_METHOD_ID}"
    }

    resource "packet_device" "${6:device}" {
      count = 1
      hostname = "${format("${6:device}-%02d", count.index + 1)}"
      plan = "${7:baremetal_0}"
      facility = "${8:ewr1}"
      operating_system = "${9:centos_7}"
      billing_cycle = "${10:hourly}"
      project_id = "\\$\\{packet_project.${4:project}.id\\}"
      user_data = "$11"
    }

    resource "packet_volume" "volume" {
      facility = "${8:ewr1}"
      project_id = "\\$\\{packet_project.${4:project}.id\\}"
      plan = "${12:storage_1}"
      size = ${13:100}
      billing_cycle = "${10:hourly}"
      snapshot_policies = \\{ snapshot_frequency = "${14:1day}", snapshot_count = ${15:7} \\}
    }

    output "IPAddr" {
      value = "${element(packet_device.${6:device}.network.*.address)}"
    }
    '''

  'Terraform - VSphere':
    'prefix': 'tf-vsphere'
    'body': '''
    provider "vsphere" {
      user = "${1:username}"
      password = "${2:password}"
      vsphere_server = "${3:server}"
      allow_unverified_ssl = ${4:true}
    }

    resource " vsphere_virtual_machine" "machine" {
      count = 1
      name = "${format("${5:machine}-%02d", count.index + 1)}"
      memory = ${6:1024}
      vcpu = ${7:2}

      linked_clone = false

      network_interface {
        label = "${8:VM Network}"
      }

      disk {
        template = "${9:coreos_stable}"
      }
    }

    resource "vsphere_virtual_disk" "disk" {
      size = ${10:2}
      vmdk_path = "${11:disk}"
      type = "thin"
    }

    output "IPAddr" {
      value = "${element(vsphere_virtual_machine.machine.network.*.address)}"
    }
    '''

  'Terraform - VritualBox':
    'prefix': 'tf-vbox'
    'body': '''
    resource "virtualbox_vm" "node" {
      count = ${1:1}
      name = "${format("${2:node}-%02d", count.index + 1)}"

      image = "${3:ubuntu-16.04.tar.xz}"
      cpus = ${4:2}
      memory = "${5:1024mib}"

      user_data = "${6:\\$\\{file(user_data)\\}}"

      network_adapter {
        type = "${7:bridge}"
        host_interface = "${8:en0}"
      }
    }

    output "IPAddr" {
      value = "${element(vsphere_virtual_machine.node.network.*.address)}"
    }
    '''

  'Terraform - VMware':
    'prefix': 'tf-vix'
    'body': '''
    provider "vix" {
      product = "${1:fusion}" # fusion, workstation, workstation_shared, player, server1, server2
      verify_ssl = false
      clone_type = "full" # full, linked
    }

    resource "vix_vswitch" "vmnet10" {
      name = "${2:vmnet10}"
      nat = true
      dhcp = true
      range = "${3:192.168.99.0/24}"
      host_access = true
    }

    resource "vix_vm" "core" {
      count = 1
      name = "${format("${4:core}-%02d", count.index + 1)}"

      cpus = ${5:1}
      memory = "${6:1gi}" # kib, ki, mib, mi, gib or gi
      upgrade_vhardware = false
      tools_init_timeout = "30s"

      gui = false
      sharedfolders = true

      image {
        url = "${7:https://github.com/c4milo/dobby-boxes/releases/download/stable/coreos-stable-vmware.box}"
        checksum = "${8:545fec52ef3f35eee6e906fae8665abbad62d2007c7655ffa2ff4133ea3038b8}"
        checksum_type = "${9:sha256}"
        password = "$10"
      }

      network_adapter {
        type = "${11:custom}" # "custom", "nat", "bridged" or "hostonly"
        mac_address_type = "generated"
        vswitch = "\\$\\{vix_vswitch.${2:vmnet10}.name\\}"
        start_connected = true
        driver = "vmxnet3"
        wake_on_lan = false
      }

      shared_folder {
        enable = ${12:false}
        name = "${4:core}"
        guest_path = "${13:/Users/sanselme}"
        host_path = "${13:/Users/sanselme}"
        readonly = ${14:false}
      }
    }

    output "IPAddr" {
      value = "${element(vsphere_virtual_machine.core.network.*.address)}"
    }
    '''
