'.source.js':
  'webpack.config.js':
    'prefix': 'webpack'
    'body': '''
    const path = require("path");
    const webpack = require("webpack");

    const debug = process.env.NODE_ENV !== "production";

    const PATHS = {
      src: path.resolve(__dirname, "src"),
      dist: path.resolve(__dirname, "dist")
    };

    module.exports = {
      devtool: "inline-source-map",
      resolve: {
        extensions: ["", ".js", ".vue"],
        alias: {vue: "vue/dist/vue"}
      },
      entry: {bundle: PATHS.src},
      output: {
        path: PATHS.dist,
        publicPath: "/",
        filename: "[name].js"
      },
      module: {
        loaders: [
          {test: /.vue$/, include: PATHS.src, loader: "vue"},
          {test: /.(jpe?g|png|gif|svg|ttf|eot|woff2?)/, loader: "file"}
        ]
      },
      plugins: debug ? [] : [
        new webpack.optimize.DedupePlugin(),
        new webpack.optimize.UglifyJsPlugin({
          comments: false,
          sourceMap: false
        })
      ]
    };
    '''
